.AppHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.header-container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0%;
}

.right-section {
  display: flex;
  align-items: center;
}

.right-section-content {
  display: flex;
  align-items: center;
}

.profile-avatar {
  background-color: #c6d1c5;
}
.profile-avatar img {
  width: 25px;
  height: 25px;
  text-align: center;
  margin: auto;
  margin: 6px;
}
.profile-avatar:hover {
  background-color: #a5b39e;
}
:where(.css-dev-only-do-not-override-bw0ln7).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-bw0ln7).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-bw0ln7).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-selected::after,
:where(.css-dev-only-do-not-override-bw0ln7).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected::after {
  border-bottom-width: 0px;
  border-bottom-color: #ffcc45;
}
.ant-menu-horizontal .ant-menu-item:hover,
.ant-menu-horizontal .ant-menu-item-selected {
  border-bottom: none;
  background-color: transparent;
  color: #000;
}
.ant-menu-horizontal .ant-menu-item-ative:hover,
.ant-menu-horizontal .ant-menu-item-selected {
  border-bottom: none;
  background-color: transparent;
  color: #000;
}
.ant-menu-item-active:hover {
  border-bottom-width: 0px;
  border-bottom-color: #ffcc45;
  text-decoration: none;
}
