.custom-carousel-container {
  position: relative;
  width: 80%;
  margin: auto;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  height: 90%;
  width: 150px;
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
}

.prev-arrow {
  left: -100px;
}

.next-arrow {
  right: -100px;
}
