.card-skeleton-container .ant-skeleton-image {
  width: 330px;
  height: 180px;
}

@media (max-width: 768px) {
  .card-skeleton-container .ant-skeleton-image {
    width: 100%;
    height: auto;
  }
}
