#root {
  width: 100%;
  text-align: center;
}
.color-new-accent {
  color: #00979c;
}
.underline {
  text-decoration: underline;
}
.bg-yellow {
  background-color: #ffcc45;
}

.cursor-pointer {
  cursor: pointer;
}
.Min-wid-5 {
  min-width: 5%;
}
.placeholder_left::placeholder {
  text-align: right !important;
  color: #101828;
}
.overlayEffectcard {
  width: 100%;
  position: absolute;
  bottom: -2.9rem;
  left: 0%;
  z-index: 50;
  background-color: #ff0000a8;
  color: white;
  justify-content: center;
  align-items: center;
}

.trip-overlayEffectcard {
  width: 100%;
  position: absolute;
  bottom: -2.9rem;
  left: 0%;
  z-index: 50;
  background-color: #000000b2;
  color: white;
  justify-content: center;
  align-items: center;
}

.Toastify__toast-container--top-right {
  top: 1em;
  right: 1em;
  z-index: 99999 !important;
}
