.ai-button {
  background-color: #00ff48; /* Green background */
  border: none;
  color: white;
  cursor: pointer;
  height: 100%;
  margin: 5px 0; /* Adjust margin for spacing */
  padding: 10px 15px; /* Less wide, adjust padding to make the button narrower */
  width: 40%; /* Adjust width to content */
}

.ai-button:hover {
  background-color: #3672b8;
}

.auth-links a,
.nav-links a {
  color: #000;
  margin-right: 15px;
  text-decoration: none;
}

.button {
  background-color: #f0f0f0;
  cursor: pointer;
}

.button.selected {
  background-color: #ccc;
}

.confirm {
  grid-area: confirm;
}

.container {
  align-items: center;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  padding-top: 60px; /* Space for the fixed header */
  /* margin-left: 200px; */
  padding-left: 0px; /* Decreased and evened out left padding */
  padding-right: 0px; /* Decreased and evened out right padding */
  margin-left: auto; /* Center the container */
  margin-right: auto; /* Center the container */
}

.generate-image {
  grid-area: generate;
}

.grid-wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "input promptHelp"
    "size images"
    "style images"
    "generate confirm";
  grid-template-columns: repeat(2, 1fr);
  margin: 20px;
  max-width: 1200px; /* Adjust based on maximum width preference */
  width: 80%;
}

.header-banner {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-with-icon {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

.image {
  height: 100px;
  object-fit: cover;
  width: 100px;
}

.image-wrapper {
  border: 2px solid #eee; /* Neutral border color */
  cursor: pointer;
}

.image-wrapper.selected {
  border-color: #4a90e2; /* Highlight color */
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.images-selection-area {
  display: flex;
  flex-direction: column;
  grid-area: images;
}

.input-area {
  display: flex;
  flex-direction: column;
  grid-area: input;
}

.input-field,
.ai-button,
.button,
.style-dropdown {
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem; /* Ensures font size is uniform across elements */
  padding: 10px; /* Standardizes padding; adjust as needed */
}

.input-field,
.button {
  height: 40px;
  margin: 5px 0;
  width: 100%;
}

.prompt-help {
  grid-area: promptHelp;
}

.selected-image-section {
  margin-top: 20px;
  text-align: center;
}

.selected-image-section img {
  border-radius: 5px;
  max-width: 400px;
}

.size-area {
  grid-area: size;
}

.sizes-buttons-row {
  display: flex;
  justify-content: space-between; /* Ensures size buttons are spread across the row */
}

.style-area {
  grid-area: style;
}

.style-dropdown {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
}

.style-dropdown-area {
  display: flex;
  flex-direction: column;
}

.style-dropdown-container {
  align-items: start; /* Align items to the start of each column */
  display: grid;
  gap: 20px; /* Optional: adds some space between the columns */
  grid-template-columns: 1fr 1fr; /* Create two columns of equal width */
}

.style-image-display {
  align-items: center; /* Align vertically */
  display: flex;
  justify-content: center; /* Center the image if smaller than the container */
}

.style-info-svg-align {
  display: flex;
  justify-content: flex-end; /* Aligns the SVG to the right */
  margin-bottom: 5px;
  width: 100%; /* Ensures the div takes the full width of its parent, but does not enforce column width */
}

.svg-right-align {
  margin-left: auto; /* Ensures SVG is right-aligned */
}

.svg-tooltip-wrapper {
  display: inline-block; /* Adjust as necessary for proper alignment */
  position: relative; /* This is crucial for absolute positioning of the tooltip */
}

.svg-tooltip-wrapper:hover .tooltip-text {
  visibility: visible; /* This shows the tooltip on hover */
}

.tooltip-text {
  background-color: black;
  border-radius: 6px;
  color: #fff;
  font-size: 12px;
  left: 50%;
  margin-bottom: 0px;
  padding: 5px 5px;
  position: absolute;
  text-align: center;
  transform: translate(-100%);
  visibility: hidden;
  width: 300px; /* Adjust width as needed */
  z-index: 1;
}

/* Define a custom button class */
.custom-image-button {
  width: auto;
  height: auto;
  padding: 0;
  border: none;
  /* background-color: transparent; */
}

/* Define the hover state for the button */
.custom-image-button:hover {
  background-color: #ff0000; /* Slightly darker shade of grey */
}

.custom-image-button.selected {
  background-color: #ff0000; /* Even darker shade of grey for selected state */
}

@media (max-width: 768px) {
  .grid-wrapper {
    grid-template-areas:
      "input"
      "promptHelp"
      "size"
      "style"
      "images"
      "generate"
      "confirm";
    grid-template-columns: 1fr;
  }
}
